{%load static %}
<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="{%static 'css/login.css' %}">
     <title>Admin Home </title>
</head>

<body>
<div class="login-wrap">
	<div class="login-html">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} style="color:red" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
				  {% endif %}
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Admin Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<form action= '{% url 'adminLogin' %}' method ="POST">
			<div class="sign-in-htm">
				{% csrf_token %}
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user"name="email" type="email" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="password" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">


				</div>
			</form>
			</div>
		
		</div>
	</div>
</div>
</body>
</html>